* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

#navigation {
    background-color: #17601D;
}

.logo,
.navi {
    width: 80px;
    height: 100px;
    display: flex;
    
}

.logo {
    border-radius: 50%;
}

.navbar-nav {
    gap: 2rem;
}

.navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    color:  #93e99a;
    text-shadow: none;
    transition:  .4s;
    box-shadow: 1px 1px;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
    color: #FFFFFF;
    text-shadow: none;
}

.social {
    margin-left: 0;
}

div#social a {
    color: #FFFFFF;
    margin-right: 1rem;

}
