#Hero {
  position: relative;
  overflow: hidden;
  height: 670px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; /* Adjust the opacity value as needed */
  z-index: -1;
}

/* Style the video poster image */
.v-poster {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/* Additional styling for the content within the hero section */
#Hero-Vid {
  padding: 0;
  margin: 0;
}

.align-self-center {
  text-align: center; /* Center-align the text content */
  color: #fff; /* Text color */
  padding: 20px;
}

h3 {
  font-size: 24px;
  /* Add more styles as needed */
}
