.content 
 {
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1.header {
  font-weight: bold;
  color: #17601D;
}

div.col-12 {
  font-weight: bold;
  color: #17601D;
}