@import "bootstrap/dist/css/bootstrap.min.css";

section#property .card {
  height: 100%;
}
.car-list {
  border: 1px solid black;
}
.card-img {
  border-radius: 0;
  border: 0;
  height: 240px;
}
.card-list .card-img {
  transition: 0.5s ease;
}
li {
  list-style: none;
}
.card-item {
  padding-right: 15px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}
.img-agent {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 99px;
}
.btn-item {
  z-index: 0;
}
